---
---
<header class="nav">
  <div class="nav-inner">
    <a class="brand" href="/" aria-label="Adriana Psicología">
      <svg width="139" height="43" viewBox="0 0 139 43" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <path d="M31.9211 0.168834C31.7618 0.306891 31.5706 0.848642 31.2626 2.00664C29.9772 6.86075 27.9908 12.5437 26.3869 15.975C25.8346 17.1324 25.5796 17.4089 25.0166 17.4089C24.8254 17.4089 23.0302 16.8565 21.0333 16.1871C13.8526 13.7864 9.35936 12.6816 5.29098 12.3101C0.0223079 11.832 -1.49664 14.18 1.5732 18.0146C4.32438 21.4562 10.241 25.259 14.4793 26.3208C15.7433 26.6396 17.0711 26.7885 17.8678 26.7033C20.2154 26.4593 22.3185 24.7808 24.613 21.3391C25.5584 19.9156 25.7389 19.7139 26.1851 19.5441C26.6524 19.3737 27.4704 19.565 30.1897 20.5103C32.9196 21.4667 32.9727 21.4985 33.1214 22.4439C33.4614 24.5999 34.2262 26.1191 34.9697 26.1191C35.5964 26.1191 35.7026 25.5453 35.1503 25.1204C34.7785 24.8341 34.5661 24.3664 34.343 23.2831C34.258 22.8791 34.258 22.6774 34.343 22.5076C34.5554 22.1036 34.8529 22.0828 36.1063 22.4016C37.1367 22.667 38.7831 22.9324 39.4099 22.9324C39.686 22.9324 39.9728 22.667 39.9728 22.4016C39.9728 22.0294 39.6966 21.9019 38.5282 21.7744C37.296 21.6365 35.2353 21.1479 34.5873 20.8401C33.9287 20.5213 33.8437 20.2559 33.6632 17.9398C33.4188 14.9229 33.302 12.5014 33.1214 7.42417C32.909 1.30543 32.8453 0.508771 32.5266 0.190108C32.2823 -0.0542559 32.1973 -0.0648603 31.9211 0.168834ZM31.9424 4.73655C31.9636 4.84259 32.0167 5.8302 32.0592 6.94598C32.1761 10.685 32.3248 13.8293 32.4947 16.5377L32.6753 19.2254L32.3779 19.5331C32.1867 19.7354 31.9636 19.8519 31.7936 19.8519C31.5493 19.8519 26.7268 18.2163 26.5993 18.0888C26.5781 18.0673 26.7799 17.5787 27.0455 17.0159C28.5751 13.7655 29.9242 10.2387 31.0607 6.52114C31.3475 5.58623 31.6131 4.75736 31.6343 4.6832C31.6981 4.49192 31.8786 4.5238 31.9424 4.73655ZM5.87521 13.4253C9.66741 13.8293 13.9906 14.9229 20.6403 17.1538C23.4126 18.0888 23.9225 18.2904 24.1774 18.5774C24.7086 19.172 24.5598 19.6717 23.2958 21.4667C21.9149 23.4315 20.1729 24.9721 18.8132 25.4392C18.0484 25.7047 16.4338 25.6942 15.2229 25.3969C12.9072 24.8342 10.0073 23.5063 7.58544 21.8915C5.90709 20.7764 5.02547 20.0646 3.71887 18.8005C2.00871 17.1324 1.06333 15.6666 1.06333 14.679C1.06333 14.0843 1.38199 13.7337 2.10428 13.532C3.15591 13.234 3.93136 13.2132 5.87521 13.4253Z" fill="currentColor"/>
        <path d="M49.9526 9.26445C47.8388 10.3054 46.0223 15.5427 46.2348 19.9297C46.2985 21.0982 46.2773 21.2361 46.0648 21.6713L45.8312 22.1391L45.7249 21.778C45.5762 21.2576 44.8539 20.5777 44.2803 20.4183C43.0906 20.0891 41.5928 21.1405 40.998 22.7123C40.1695 24.9009 40.7643 26.7278 42.3045 26.7278C42.6338 26.7278 43.0268 26.6426 43.2711 26.515C43.8872 26.2177 44.8858 25.2197 45.6718 24.1358C46.5322 22.9465 46.6703 22.9146 47.1058 23.817C47.5626 24.7838 48.2955 25.5378 49.2515 26.0056C49.942 26.3452 50.165 26.3986 50.9616 26.4409C53.5432 26.5684 56.8782 25.2405 59.4597 23.063C59.9906 22.6167 60.2561 22.3089 60.299 22.1072C60.3517 21.7989 60.3517 21.7989 61.0101 21.8626C61.7329 21.9264 62.6991 21.7247 63.4219 21.3636C63.6554 21.2361 63.8786 21.1619 63.9105 21.1938C63.9423 21.2257 63.8571 21.523 63.7192 21.8626C63.5383 22.2985 63.4642 22.6804 63.4642 23.1801C63.4642 24.115 63.783 24.614 64.6541 25.0492C65.2383 25.3362 65.334 25.3466 66.7568 25.3466C68.3931 25.3466 69.3807 25.1878 71.0059 24.6459C72.2381 24.2314 73.8848 23.4455 74.8197 22.819C75.2231 22.5425 75.5841 22.3193 75.6264 22.3193C75.6694 22.3193 75.7331 22.6062 75.7539 22.9569C75.7858 23.4455 75.8711 23.7006 76.115 24.0512C77.0818 25.4214 79.3342 26.0375 81.5221 25.517C83.105 25.1345 85.1655 24.0402 86.8011 22.7123C87.6085 22.0539 87.6514 22.0324 87.5128 22.3942C87.3112 22.8932 87.3534 24.115 87.5981 24.6563C87.8635 25.262 88.0548 25.4103 88.6176 25.4741C89.4464 25.5697 90.4978 24.7942 91.4542 23.3818C91.6877 23.0421 91.9317 22.7234 91.9955 22.6915C92.2186 22.5425 92.5797 22.7552 92.9199 23.2328C93.3767 23.8489 94.3753 24.4969 95.3096 24.7838C96.765 25.2197 98.7623 24.8898 100.78 23.8704C101.492 23.5093 103.383 22.277 104.052 21.7351L104.382 21.4593L104.137 22.6596C103.861 24.0298 103.829 24.4546 104.009 24.6355C104.296 24.9217 104.573 24.7311 105.858 23.4032C106.569 22.6485 107.419 21.8626 107.738 21.6395C108.407 21.1723 109.14 20.9277 109.48 21.0552C109.608 21.0982 109.958 21.4697 110.255 21.8841C110.967 22.8613 111.742 23.5516 112.592 23.9556C113.24 24.2633 113.347 24.2848 114.558 24.2848C115.609 24.2848 115.96 24.2419 116.565 24.0402C117.755 23.6472 119.359 22.7552 120.113 22.0754L120.347 21.8626V22.5958C120.357 23.9126 120.931 24.72 121.812 24.6244C122.641 24.5288 123.459 23.8281 124.596 22.2348C125.042 21.6076 125.254 21.6395 125.987 22.4579C126.922 23.4989 128.313 24.1254 129.705 24.1254C131.543 24.1254 133.943 23.1267 136.217 21.4274C137.99 20.0891 138.351 19.6532 137.958 19.2602C137.703 19.0052 137.353 19.1431 136.535 19.8341C134.783 21.2894 132.987 22.3193 131.351 22.7871C128.515 23.6153 126.55 22.5002 125.764 19.6324C125.573 18.9206 125.403 18.7502 124.999 18.8458C124.787 18.8991 124.659 19.0904 124.383 19.7169C123.937 20.7371 122.907 22.5321 122.408 23.1267C121.78 23.9022 121.409 23.6895 121.409 22.5529C121.409 21.7143 121.94 20.62 122.779 19.7807C123.459 19.08 123.969 18.7397 124.861 18.3891C125.69 18.0599 125.764 17.9961 125.764 17.635C125.764 17.125 125.413 17.0508 124.574 17.3696C123.544 17.7521 122.875 18.2193 121.345 19.6213C118.254 22.4364 116.448 23.3603 114.292 23.2542C112.911 23.1801 112.167 22.7123 111.031 21.1723C110.319 20.2055 109.969 19.9824 109.182 19.9824C108.396 19.9824 107.409 20.471 106.325 21.4059C105.89 21.7885 105.497 22.0539 105.443 22.0116C105.401 21.9687 105.465 21.4482 105.582 20.8535C105.836 19.6109 105.784 19.3455 105.252 19.3455C104.987 19.3455 104.902 19.4092 104.806 19.6642C104.743 19.8341 104.625 19.9824 104.551 19.9824C104.488 19.9824 104.126 20.2485 103.754 20.5777C102.809 21.4059 101.014 22.5958 99.9731 23.0844C97.4553 24.2529 95.3415 24.1892 94.067 22.8932C93.6102 22.426 92.8881 21.0344 92.782 20.4183C92.6968 19.9082 92.3995 19.6109 92.0703 19.6955C91.879 19.7488 91.6877 20.0462 91.2629 20.9277C90.2109 23.1053 89.1276 24.6355 88.7451 24.4865C88.5219 24.4013 88.3417 23.6368 88.4159 23.1267C88.533 22.4364 89.2233 21.2576 89.9246 20.5562C90.3917 20.0891 90.8166 19.7911 91.4112 19.5049C91.8679 19.2921 92.3676 19.0585 92.5159 18.9844C92.8139 18.8458 92.9199 18.4528 92.7183 18.2089C92.5055 17.9642 91.8679 18.0918 90.8803 18.5908C90.4021 18.825 89.7756 19.2388 89.4672 19.5049C89.032 19.8868 88.8622 19.972 88.6605 19.9297C88.4477 19.8763 88.2356 20.0253 87.3534 20.8321C85.5057 22.5321 83.5826 23.7643 81.8409 24.3485C81.2352 24.5606 80.8846 24.6036 79.9288 24.6036C78.8768 24.6036 78.6966 24.5717 78.1019 24.2952C77.3154 23.9341 76.9543 23.573 76.806 23.0103C76.6674 22.4898 76.806 21.5119 77.1247 20.7052C77.3154 20.2166 77.3154 20.1528 77.167 19.9186C77.0818 19.7807 76.912 19.6642 76.7949 19.6642C76.5509 19.6642 76.158 20.0143 76.158 20.2374C76.158 20.3227 75.8925 20.6304 75.5523 20.9388C73.417 22.8828 69.7099 24.3375 66.7568 24.3694C65.8545 24.3804 65.6098 24.3486 65.2065 24.1469C64.3457 23.7324 64.282 23.2009 64.8877 21.8203C65.3021 20.8639 65.3125 20.3968 64.9404 20.0995C64.5474 19.7911 64.1863 19.823 63.2944 20.2485C62.4766 20.6304 61.4141 20.9069 61.1376 20.8008C60.9041 20.7052 60.9255 20.4287 61.2443 19.4938C61.7537 17.9753 61.5839 17.1146 60.7876 17.1146C60.1285 17.1146 59.5872 17.529 59.1728 18.3572C58.8221 19.0585 58.8963 20.4183 59.3212 20.9388C59.6718 21.374 59.5977 21.5549 58.8117 22.2348C56.4429 24.2737 53.4046 25.506 51.0677 25.3784C50.3456 25.3466 50.0801 25.2724 49.6233 25.0284C48.6566 24.4969 47.9981 23.5945 47.6263 22.2237L47.4457 21.5868L48.5717 19.2706C50.6749 14.937 51.62 12.2071 51.62 10.444C51.62 9.72117 51.5992 9.63659 51.3123 9.34968C50.9402 8.97819 50.5793 8.95671 49.9526 9.26445ZM50.5581 10.4759C50.7067 10.6561 50.5793 11.3997 50.1119 12.8447C49.5064 14.7672 47.5838 18.8887 47.3607 18.7502C47.2439 18.676 47.2864 18.028 47.4882 16.6364C47.8494 14.2675 48.7841 11.8037 49.7295 10.7836C50.1862 10.2846 50.3456 10.2208 50.5581 10.4759ZM60.2671 19.069C60.1604 19.3877 60.044 19.6324 59.9906 19.6005C59.8846 19.5367 59.9802 19.0904 60.1923 18.676C60.4369 18.1978 60.4688 18.421 60.2671 19.069ZM44.429 21.6609C44.5352 21.7566 44.7052 21.9797 44.7901 22.1391C44.9176 22.4046 44.9919 22.4364 45.3 22.4046L45.6505 22.3623L45.1194 23.1371C44.4609 24.0935 43.4411 25.2086 42.9737 25.4956C42.5063 25.7825 42.1133 25.7825 41.9115 25.4851C41.6565 25.1241 41.6884 23.8489 41.9646 23.1053C42.1983 22.4787 42.8994 21.6609 43.3668 21.4697C43.6748 21.3421 44.174 21.4274 44.429 21.6609Z" fill="currentColor"/>
        <path d="M77.8053 17.433C77.614 17.6028 77.2952 17.8363 77.115 17.9743C76.7117 18.2508 76.6583 18.6014 76.9771 18.8877C77.1788 19.0686 77.2107 19.079 77.5613 18.9092C78.1137 18.6437 78.8892 17.8897 78.8892 17.6242C78.8892 17.0719 78.3368 16.9762 77.8053 17.433Z" fill="currentColor"/>
        <path d="M99.8188 35.3267L99.3926 35.9267H99.8057C100.073 35.9267 100.419 35.7667 100.752 35.4997L101.285 35.0866L100.859 34.9005C100.619 34.8066 100.393 34.7266 100.339 34.7266C100.286 34.7266 100.059 34.9935 99.8188 35.3267Z" fill="var(--color-moss)"/>
        <path d="M27.1431 42.7261H28.0762V40.8597H29.0226C30.2623 40.8597 30.9289 40.6466 31.4087 40.0996C32.4218 38.9533 31.8753 37.1138 30.4223 36.7407C30.0891 36.6607 29.2226 36.5938 28.4894 36.5938H27.1431V42.7261ZM30.6222 37.914C30.8889 38.1801 31.0088 38.4332 31.0088 38.7263C31.0088 39.0202 30.8889 39.2733 30.6222 39.5395C30.249 39.8996 30.169 39.9265 29.1559 39.9265H28.0762V37.527H29.1559C30.169 37.527 30.249 37.5539 30.6222 37.914Z" fill="var(--color-moss)"/>
        <path d="M37.3141 36.7268C36.6743 36.9268 36.2078 37.5669 36.2078 38.247C36.2078 38.5532 36.301 38.9402 36.421 39.1133C36.6476 39.4194 37.6474 39.9264 38.3939 40.1126C39.047 40.2726 39.4069 40.5927 39.4069 41.0058C39.4069 41.859 38.1939 42.059 36.9542 41.4058L36.2078 41.0058L36.0077 41.3797C35.8345 41.7259 35.8345 41.779 36.0611 41.979C36.461 42.339 37.6207 42.7261 38.3139 42.7261C40.0735 42.7261 41.1398 41.2058 40.2068 40.0195C39.9802 39.7264 39.567 39.5264 38.034 38.9532C37.2874 38.6863 37.0609 38.167 37.4874 37.74C37.7806 37.4469 38.8071 37.4738 39.5003 37.7939L40.0735 38.047L40.2867 37.6469C40.3934 37.4199 40.4734 37.2207 40.4467 37.1938C39.9135 36.7407 38.1539 36.4737 37.3141 36.7268Z" fill="var(--color-moss)"/>
        <path d="M45.1387 42.7261H46.2051V36.5938H45.1387V42.7261Z" fill="var(--color-moss)"/>
        <path d="M52.6568 36.8058C51.9906 37.0458 51.1774 37.819 50.9112 38.4591C50.6042 39.1523 50.6573 40.3386 51.0043 41.0717C51.7505 42.605 53.91 43.1782 55.4695 42.258C56.1234 41.8849 56.2026 41.6849 55.8434 41.3518C55.6164 41.1648 55.5634 41.1648 55.0702 41.4718C53.6439 42.3381 51.8575 41.4587 51.6975 39.8185C51.6305 39.0853 51.8306 38.5922 52.4306 38.0321C53.1638 37.3528 54.2032 37.3128 55.1902 37.9129L55.6564 38.206L55.8695 37.8729C56.1365 37.4589 56.0696 37.3389 55.3633 36.9797C54.6571 36.6058 53.39 36.5266 52.6568 36.8058Z" fill="var(--color-moss)"/>
        <path d="M62.1878 36.7795C61.4416 37.0456 60.9084 37.4857 60.5084 38.1658C60.2022 38.672 60.1353 38.952 60.1353 39.6721C60.1353 40.4184 60.2022 40.6454 60.5353 41.2046C60.7884 41.6047 61.1885 42.0047 61.5885 42.2578C62.1747 42.6179 62.3617 42.6579 63.321 42.6579C64.5212 42.6579 64.9343 42.4979 65.6536 41.7647C66.2407 41.1916 66.4938 40.5784 66.4938 39.7252C66.5068 38.752 66.2807 38.1919 65.6275 37.5526C64.7204 36.6725 63.361 36.3525 62.1878 36.7795ZM64.3212 37.7257C65.6136 38.392 65.9076 40.0322 64.9205 41.1116C63.5611 42.6179 61.1346 41.6847 61.1346 39.6583C61.1346 38.7251 61.6016 38.0319 62.4678 37.6327C62.8279 37.4726 63.9342 37.5257 64.3212 37.7257Z" fill="var(--color-moss)"/>
        <path d="M71.1328 42.7261H74.7317V41.7929H72.066V36.5938H71.1328V42.7261Z" fill="var(--color-moss)"/>
        <path d="M80.7041 36.7804C79.397 37.2605 78.5977 38.3529 78.5977 39.6331C78.5977 42.2988 81.8765 43.7121 83.943 41.9388C85.5963 40.5394 85.2762 37.9667 83.3298 36.9666C82.6636 36.6204 81.3703 36.5273 80.7041 36.7804ZM83.0097 37.8336C83.2628 37.9928 83.6098 38.4068 83.7829 38.766C84.2099 39.6462 84.103 40.4063 83.4229 41.1125C81.5965 43.0189 78.6907 40.9255 79.8909 38.5668C80.384 37.5797 82.0365 37.1805 83.0097 37.8336Z" fill="var(--color-moss)"/>
        <path d="M91.0876 36.7922C90.3144 37.0854 89.8352 37.4854 89.4351 38.1655C89.1281 38.6717 89.062 38.9518 89.062 39.6719C89.062 40.4181 89.1281 40.6451 89.4613 41.2044C89.7152 41.6044 90.1144 42.0045 90.5145 42.2576C91.1015 42.6046 91.2876 42.6576 92.1808 42.6576C92.994 42.6576 93.3271 42.5907 93.8603 42.3245L94.5273 41.9914L94.6073 39.7919H93.7941V40.5912C93.7941 41.3513 93.7803 41.3913 93.3672 41.6044C93.1271 41.7375 92.6209 41.8314 92.2339 41.8314C91.3677 41.8314 90.6075 41.3782 90.2614 40.6581C89.9544 40.005 90.0344 38.9248 90.4345 38.3655C91.0615 37.4854 92.5009 37.2323 93.5272 37.8055L94.0873 38.1255L94.3273 37.7924C94.6473 37.3654 94.5134 37.2193 93.5802 36.8592C92.7409 36.5522 91.8208 36.5261 91.0876 36.7922Z" fill="var(--color-moss)"/>
        <path d="M99.5259 42.7261H100.459V36.5938H99.5259V42.7261Z" fill="var(--color-moss)"/>
        <path d="M107.338 36.7007C107.231 36.8738 104.725 42.5922 104.725 42.6592C104.725 42.6992 104.938 42.7261 105.191 42.7261C105.631 42.7261 105.684 42.6861 105.991 41.9929L106.311 41.2459L109.417 41.3259L109.71 42.0191C109.977 42.6992 110.003 42.7261 110.51 42.7261C110.937 42.7261 111.004 42.6861 110.937 42.4991C110.884 42.3791 110.297 41.0058 109.617 39.4334L108.391 36.5938H107.898C107.631 36.5938 107.378 36.6468 107.338 36.7007ZM108.444 39.0333C108.684 39.6065 108.91 40.1665 108.95 40.2727C109.004 40.4196 108.804 40.4596 107.871 40.4596C107.245 40.4596 106.725 40.4066 106.725 40.3527C106.725 40.2466 107.604 38.1132 107.738 37.9001C107.858 37.7 107.978 37.9001 108.444 39.0333Z" fill="var(--color-moss)"/>
      </svg>
    </a>

    <nav class="nav-menu" aria-label="Principal">
      <a href="/" class="active">Inicio</a>
      <a href="/sobre-mi">Sobre mí</a>
      <a href="/servicios">Servicios</a>
      <a href="/precio">Precio</a>
      <a href="/blog">Blog</a>
    </nav>

    <div class="nav-cta">
      <a class="btn-cta" href="https://calendly.com/adrianapsicologia/15-20min" target="_blank" rel="noopener">
        Contáctame
      </a>
    </div>

    <button class="burger" aria-label="Abrir menú" id="navBurger">
      <span></span><span></span><span></span>
    </button>
  </div>
</header>

<div class="sheet" id="navSheet" aria-hidden="true">
  <div class="sheet-panel">
    <button class="sheet-close" id="navSheetClose" aria-label="Cerrar menú">×</button>
    <a href="/">Inicio</a>
    <a href="/sobre-mi">Sobre mí</a>
    <a href="/servicios">Servicios</a>
    <a href="/precio">Precio</a>
    <a href="/blog">Blog</a>
    <a href="https://calendly.com/adrianapsicologia/15-20min" target="_blank" rel="noopener" class="sheet-cta">
      Contáctame
    </a>
  </div>
</div>

<style>
.nav {
  background: var(--color-bg-base);
  border-bottom: 1px solid rgba(0,0,0,.04);
  position: sticky;
  top: 0;
  z-index: 30;
}

.nav-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-primary);
  flex-shrink: 0;
}
.brand svg {
  height: 34px;
  width: auto;
  display: block;
}

.nav-menu {
  display: none;
  gap: 32px;
  align-items: center;
}
.nav-menu a {
  font-family: var(--font-sans);
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color 150ms ease;
}
.nav-menu a:hover,
.nav-menu a.active {
  color: var(--color-moss);
}

.nav-cta { display: none; }

.btn-cta {
  display: inline-flex;
  align-items: center;
  height: 42px;
  padding: 0 22px;
  background: var(--color-moss);
  color: var(--color-text-inverse);
  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: 600;
  border-radius: var(--radius-full);
  text-decoration: none;
  transition: background var(--transition-fast), transform var(--transition-fast);
}
.btn-cta:hover {
  background: var(--color-moss-hover);
  transform: translateY(-1px);
}

.burger {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}
.burger span {
  display: block;
  width: 22px;
  height: 2px;
  background: var(--color-text-primary);
  border-radius: 2px;
}

@media (min-width: 880px) {
  .nav-menu,
  .nav-cta { display: flex; }
  .burger   { display: none; }
}

/* ── Mobile sheet ── */
.sheet {
  position: fixed;
  inset: 0;
  background: rgba(26,33,24,.55);
  display: none;
  z-index: 50;
}
.sheet.open { display: block; }

.sheet-panel {
  position: absolute;
  top: 0; right: 0;
  height: 100%;
  width: min(82vw, 320px);
  background: var(--color-bg-base);
  color: var(--color-text-primary);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: -12px 0 32px rgba(0,0,0,.2);
}
.sheet-panel a {
  padding: 14px 4px;
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-primary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-bg-border);
}
.sheet-panel a:hover { color: var(--color-moss); }

.sheet-cta {
  margin-top: 16px;
  text-align: center;
  background: var(--color-moss);
  color: var(--color-text-inverse) !important;
  border-radius: var(--radius-full);
  border-bottom: none !important;
}

.sheet-close {
  align-self: flex-end;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  font-size: 22px;
  color: var(--color-text-primary);
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 8px;
}
</style>

<script>
  const burger     = document.getElementById('navBurger');
  const sheet      = document.getElementById('navSheet');
  const sheetClose = document.getElementById('navSheetClose');
  const open  = () => { sheet?.classList.add('open');    sheet?.setAttribute('aria-hidden','false'); };
  const close = () => { sheet?.classList.remove('open'); sheet?.setAttribute('aria-hidden','true');  };
  burger?.addEventListener('click', open);
  sheetClose?.addEventListener('click', close);
  sheet?.addEventListener('click', (e) => { if (e.target === sheet) close(); });
  sheet?.querySelectorAll('a').forEach(a => a.addEventListener('click', close));
</script>
